This Noteboook creates the balanced AFib dataset

## All Imports

In [2]:
import pandas as pd
import pickle
from pandarallel import pandarallel
from scipy import stats
import time

from sklearn.utils import resample

In [3]:
## Read the CSV file
df=pd.read_csv("afib100.csv")

In [4]:
##Print the columns
df.columns

Index(['person_id', 'label', 'diag_med'], dtype='object')

In [5]:
## Create the dataframe of all true labels
df_true = df[df.label == 1]

In [6]:
## Find the shape of the trie labels
df_true.shape[0]

22998

In [6]:
## Create the dataframe of all false labels
df_false = df[df.label == 0]

In [7]:
## Create the downnsampled datafeame of false labels
df_majority_downsampled = resample(df_false, 
                                 replace=False,    # sample without replacement
                                 n_samples=df_true.shape[0],     # to match minority class
                                 random_state=123) # re

In [8]:
df_majority_downsampled

,person_id,label,diag_med
787432,-7064974726652645114,0,"316822,437247,192568,46287545,40173070,4016654..."
25869,1829606001450628003,0,"79908,31967,19072961,42708722,436353,132706,43..."
1898176,-3084270736387858171,0,"40232454,35603428,140352,35603226,138858,19019..."
1596365,2288697227054300422,0,"77670,46287372,46287424,19070869,46287375,1308..."
644774,-5195235138160353811,0,"40162515,4019957,35605482,778765,35605848,7586..."
...,...,...,...
1335588,-3132352787126870311,0,"440329,381859,140214,260123"
1921323,1762326863891963670,0,194286
272300,6101823931667857161,0,"25297,439703,1713370"
1278388,-2549329255236024381,0,"139900,141323,137053,318096,40222685,46276108,..."
1210222,5216250601835807782,0,"1703691,1836434,1717708,201211,40236824,190750..."

In [9]:
## Create the dataframe by concatenaitng the true labels and downsampled false labels
df_main = pd.concat([df_true, df_majority_downsampled])